aws_region =
bucket_name =
rds_database_name =
rds_instance_endpoint =
rds_password =
rds_port =
rds_username =
redshift_database =
redshift_host =
redshift_password =
redshift_port =
redshift_user =
aws_access_key_id =
aws_secret_access_key =
